# Formely Frontend – local development
# cp .env.example .env

VITE_API_URL=http://localhost:8000/api
VITE_API_TIMEOUT=10000
VITE_UPLOAD_TIMEOUT=600000

VITE_STORAGE_URL=http://localhost:8000
VITE_BACKOFFICE_URL=http://localhost:5180

VITE_APP_ENV=development
